@font-face{font-family:'fontello';src:url('fontello.eot?86551570');src:url('fontello.eot?86551570#iefix') format('embedded-opentype'),url('fontello.woff2?24690484') format('woff2'),url('fontello.woff?86551570') format('woff'),url('fontello.ttf?86551570') format('truetype'),url('fontello.svg?86551570#fontello') format('svg');font-weight:normal;font-style:normal}
[class^="icon-"]:before,[class*=" icon-"]:before,[class^="icon-"]:after,[class*=" icon-"]:after{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;text-align:center;font-variant:normal;text-transform:none}
.icon-bars:before{content:''}
.icon-check:before{content:''}
.icon-none:before{content:''}
.icon-close:before{content:''}
.icon-crosshairs:before{content:''}
.icon-home:before{content:''}
.icon-map-marker:before{content:''}
.icon-phone:before{content:''}
.icon-print:before{content:''}
.icon-user:before{content:''}
.icon-angle-down:before{content:''}
.icon-angle-left:before{content:''}
.icon-angle-right:before{content:''}
.icon-facebook:before{content:''}
.icon-google-plus:before{content:''}
.icon-linkedin:before{content:''}
.icon-twitter:before{content:''}
.icon-xing:before{content:''}
.icon-youtube-play:before{content:''}
.icon-play:before{content:''}
.icon-newspaper:before{content:''}
.icon-lightbulb:before{content:''}
.icon-spin5:before{content:''}
.icon-ok-circled:before{content:''}
.icon-pause:before{content:''}
.icon-right-circled:before{content:''}
.icon-right-big:before{content:''}
.icon-file-pdf:before{content:''}
.icon-pdf:before{content:''}
.icon-mail:before{content:''}
.icon-star:before{content:''}
.icon-star-empty:before{content:''}
.icon-forward:before{content:''}
.icon-edit:before{content:''}
.icon-camera:before{content:''}
.icon-info-circled:before{content:''}
.icon-info:before{content:''}
.icon-attention-alt:before{content:''}
.icon-attention:before{content:''}
.icon-ok-squared:before{content:''}
.icon-lock:before{content:''}
.icon-volume-up:before{content:''}
.icon-angle-up:before{content:''}
.icon-rocket:before{content:''}
.icon-users:before{content:''}
.icon-clock:before{content:''}
.icon-chart-bar:before{content:''}
.icon-smile:before{content:''}
.icon-heart-empty:before{content:''}
.icon-chart-line:before{content:''}
.icon-cog-alt:before{content:''}
.icon-download:before{content:''}
.icon-comment:before{content:''}
.icon-comment-empty:before{content:''}
.icon-whatsapp:before{content:''}
.icon-angle-double-left:before{content:''}
.icon-angle-double-right:before{content:''}
.icon-mobile:before{content:''}
.icon-list-bullet:before{content:''}
.icon-cab:before{content:''}
.icon-bus:before{content:''}
.icon-bicycle:before{content:''}
.icon-male:before{content:''}
.icon-award:before{content:''}
.icon-megaphone:before{content:''}
.icon-trash-empty:before{content:''}
.icon-calendar-empty:before{content:''}
.icon-left-big:before{content:''}
.icon-picture:before{content:''}
.icon-instagram:before{content:''}
.icon-building:before{content:''}
.icon-calendar:before{content:''}
.icon-circle:before{content:''}
.icon-info:before{content:''}
.icon-chat:before{content:''}
.icon-chat-empty:before{content:''}
.icon-docs:before{content:''}
.icon-filter:before{content:''}
.icon-calc:before{content:''}
.icon-glyph-2:before{content:''}
.icon-check-empty:before{content:''}
.icon-blank:before{content:''}
.icon-check-1:before{content:''}
.icon-circle-empty:before{content:''}
.icon-dot-circled:before{content:''}
.icon-angle-double-up:before{content:''}
.icon-pinterest-circled:before{content:''}
.icon-resize-full-alt:before{content:''}
.icon-crop:before{content:''}
.icon-eyedropper:before{content:''}
.icon-link:before{content:''}
.icon-flag:before{content:''}
.icon-doc-laden:before{content:''}
.icon-zoom-in:before{content:''}
.icon-zoom-out:before{content:''}
.icon-glyph-3:before{content:''}
.icon-life-ring:before{content:''}
.icon-user-secret:before{content:''}
.icon-pen:before{content:''}
.icon-pen:before{content:''}
.icon-glyph-1:before{content:''}
.icon-id-card-o:before{content:''}
.icon-play-circled:before{content:''}
.icon-file-excel:before{content:''}
.icon-up-circled:before{content:''}
.icon-chart-pie-1:before{content:''}
.icon-cw:before{content:''}
.icon-heart:before{content:''}
.icon-envelope-open-o:before{content:''}
.icon-thumbs-up-alt:before{content:''}
.icon-thumbs-down-alt:before{content:''}
.icon-link-ext-alt:before{content:''}
.icon-link-ext:before{content:''}
.icon-gewerblicher-anbieter:before{content:''}
.icon-privater-anbieter:before{content:''}
.icon-finden:before{content:''}
.icon-haus:before{content:''}
.icon-hochladen:before{content:''}
.icon-sonstiges:before{content:''}
.icon-teilen:before{content:''}
.icon-verkaufen:before{content:''}
.icon-vermieten:before{content:''}
.icon-wohnung:before{content:''}
.icon-ausland:before{content:''}
.icon-deutschland:before{content:''}
.icon-energieausweis:before{content:''}
.icon-bild:before{content:''}
.icon-wohnen-auf-zeit:before{content:''}
.icon-euro:before{content:'€'}
.icon-law:before{content:'§'}
.icon-euro:before,.icon-law:before{font-family:'Open Sans';font-weight:700}
.btn_spin:before{animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;padding:0 !important;margin-left:7px;float:right}
.animate-spin{-moz-animation:spin 3s infinite linear;-o-animation:spin 3s infinite linear;-webkit-animation:spin 3s infinite linear;animation:spin 3s infinite linear;display:inline-block}
-moz-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
-webkit-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
-o-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
-ms-keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@keyframes spin{0%{-moz-transform:rotate(0);-o-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);}
100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
