.padding_left_10{padding-left:10px !important}
.header.simple,.bingMapMenu{background:#fff;-webkit-box-shadow:0 1px 6px 0 rgba(0,0,0,.25);-moz-box-shadow:0 1px 6px 0 rgba(0,0,0,.25);box-shadow:0 1px 6px 0 rgba(0,0,0,.25);position:fixed;z-index:3100}
.MicrosoftMap .OverlaysTL{background:transparent;border:none !important}
.MicrosoftMap .MapPushpinBase>div{font:bold 14px "open Sans",sans-serif !important}
.bingMap{bottom:0;height:100%;overflow:hidden;position:relative}
.bingMapMenu{width:100%}
.OverlaysTL{display:none}
.header.simple .btn_01.icon-close{margin:20px 0 0}
.immoliste.header.simple{height:50px}
.large_screen{display:none}
.mapContainer.content_wrapper{height:100%;padding-top:75px;position:absolute;width:100%}
.base .MicrosoftMap .map_listitem_wrap{padding-top:4px;width:191px}
.base .MicrosoftMap .scrollgradient .map_listitem_wrap{padding-top:4px;width:190px}
.NavBar_Menu{background:#fff;border:1px solid #ddd;border-radius:3px;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.15);-moz-box-shadow:0 3px 8px 0 rgba(0,0,0,.15);box-shadow:0 3px 8px 0 rgba(0,0,0,.15);padding:10px;position:absolute;right:0;top:55px;width:318px;z-index:820}
.small_screen{display:inline-block}
.mapheader{padding:0 20px}
.maptools{position:absolute;z-index:1;top:85px;right:20px}
.umkreis_btn,.polygon_btn{box-shadow:0 2px 4px rgba(0,0,0,.3)}
.NavBar_Menu .btn_01{width:100%;margin:10px 0 0}
#map div[style^="position: absolute; left: 0px; top: 0px; width: 9px; height: 9px;"]{width:32px !important;height:30px !important;background:transparent url(../../GLOBAL_RWD/image/misc/map_resizer.png) !important;border:0 !important;margin-left:-11px;margin-top:-11px}
.infoBoxWrapper{box-shadow:0 2px 4px rgba(0,0,0,.3);border-radius:4px}
.infoBox{max-height:360px !important}
.infoBox.cluster{overflow-y:auto}
.infoBox .listimage{height:170px;background:#ddd;text-align:center}
.infoBox .listimage img{height:170px;max-width:100%}
.infoBox .map_listitem_wrap{width:100%;padding:15px !important}
.infoBox .map_listitem_wrap h3{font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding-bottom:7px;margin:0}
.infoBox .map_listitem_wrap .hardfact{font-size:18px;font-weight:bold;padding:5px 0 0 0}
.infoBox .map_listitem_wrap .hardfact .hardfactlabel{font-size:12px;font-weight:normal;color:#666}
.infoBox .map_listitem_wrap .city{font-size:14px;color:#41aa1a}
.pointer:after{border:8px solid transparent;border-bottom:0;border-top-color:#fff;bottom:-8px !important;content:'' !important;display:inline-block;left:50%;margin-left:-11px;position:absolute}
.infoBox .icon-close{background:#fff;box-shadow:0 2px 4px rgba(0,0,0,.3);width:24px;height:24px;display:block;color:#666;text-align:center;font-size:16px;border-radius:50em;position:absolute;right:-12px;top:-12px;cursor:pointer}
.infoBox .icon-close:hover{color:#000}
.infoBox .icon-close:before{margin-top:3px}
.infoBox a:hover{color:#333}
.infoBox.message_info .infobox{padding:0}
.infobox{padding:20px}
.infobox h1,.infobox p{font-size:14px;margin:0;padding:0}
.infobox h1{font-weight:bold;padding-bottom:5px}
.expose .bingMapMenu{height:42px}
.expose .bingMap .backtolocation{background:#fff url(../image/misc/map_backtolocation.png) no-repeat;background-position:center;width:55px;height:55px;position:absolute;right:48px;bottom:25px;z-index:1;cursor:pointer;padding:10px;border-radius:4px;box-shadow:0 2px 4px rgba(0,0,0,.3);box-sizing:border-box !important}
.expose .bingMapMenu .close_large{padding:9px 10px}
.expose .loadscreen{height:100%;background:#fff;position:fixed;left:0;top:0;bottom:0;right:0;z-index:9999;text-align:center}
.expose .loadscreen img{position:relative;top:50%;transform:translateY(-50%)}
.expose .mapContainer{position:fixed;bottom:0;top:42px;right:0;transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;width:100%}
.expose .mapContainerOpen{width:calc(100% - 300px);transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out}
.expose .map_navigation .current{color:#333;border-bottom:3px solid #ffb200 !important;font-weight:600}
.expose .map_navigation a:hover{color:#333}
.expose .map_navigation a{background:#fff;padding:9px 22px;font-size:14px;text-decoration:none !important;float:left;color:#666;line-height:21px}
.expose .map_overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:10001;height:100%}
.expose .MicrosoftMap .NavBar_modeSelectorControlContainer{display:none}
.expose .slidepanel{position:absolute;padding:20px 10px;background:#fff;top:60px;right:-32px;color:#333;z-index:1000;font-size:30px;border:1px solid #ccc;cursor:pointer;border-left:0;box-shadow:3px 1px 3px 0 rgba(0,0,0,.1)}
.expose .map_addons{position:fixed;top:42px;width:300px;height:100%;background:#fff;background-color:#fff;transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;box-shadow:0 2px 4px rgba(0,0,0,.3)}
.hide_slide{transform:translate3d(-300px,0,0)}
.show_slide{transform:translate3d(0,0,0)}
.input_customsearch~.btn_01.icon-angle-right:before{font-size:25px;line-height:27px;margin-right:-3px;padding:0}
.input_customsearch~.btn_01.icon-angle-right{height:36px;margin-bottom:-36px;padding-bottom:4px;padding-top:4px;position:relative;top:-36px;width:36px}
.input_customsearch{padding-right:38px}
.expose .map-route-menu{width:300px;height:100%;background-color:#fff;padding:20px;border-right:1px solid #ddd}
.expose .map-route-container{height:100%;background:#fff}
.expose .bingMapMenu .map-route-menu{width:400px;position:absolute;background:#fff;padding:20px}
.expose .route_type li a{float:left;font-size:20px;text-decoration:none;color:#666;padding:10px}
.expose .route_type li:first-child a{padding-left:0}
.expose .route_type li a:hover{color:#333}
.expose .route_type li .current{color:#e65100 !important}
.expose .bingMapMenu .map-route-menu img{margin:0 6px 3px 0}
.expose .map-route-result #routeResultOverviewStart,.expose .map-route-result #routeResultOverviewEnd{width:209px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.expose .map-route-result .distance,.expose .map-route-result .duration{color:#49f;font-size:16px}
.expose .map-route-result .duration{font-weight:bold;margin-right:5px;margin-left:2px}
.expose .map-route-result .distance{margin:15px 0 5px 0}
.expose .map-route-result .duration:before{font-size:16px;padding-right:12px}
.mapRouteResult{padding:20px;overflow-y:auto;height:100%}
.expose .map-route-result ul li{padding:10px 20px 10px 32px;line-height:22px}
.expose .map_back{margin:2px 14px 0 20px;font-size:20px;float:left;line-height:25px;color:#666}
.expose .map_back:hover{color:#333}
.expose .map-route-input{padding-right:30px}
.expose .btnGeolocation a{position:absolute;right:39px;top:-34px;text-decoration:none;background:#fff;padding:5px 0 5px 7px;font-size:18px}
.map-route-result ul li.DepartStart{background:transparent url(../../GLOBAL/images/maps/controlgifs/bingmap_routestart.png) 0 10px no-repeat}
.map-route-result ul li.RampThenHighwayRight,.map-route-result ul li.TakeRampRight,.map-route-result ul li.TurnRight,.map-route-result ul li.TurnRightThenTurnRight,.map-route-result ul li.TurnToStayRight{background:transparent url(../../GLOBAL/images/icon/icon_route_right.png) 0 15px no-repeat}
.map-route-result ul li.BearRight,.map-route-result ul li.KeepRight{background:transparent url(../../GLOBAL/images/icon/icon_route_bearright.png) 0 15px no-repeat}
.map-route-result ul li.RampThenHighwayLeft,.map-route-result ul li.TakeRampLeft,.map-route-result ul li.TurnLeft,.map-route-result ul li.TurnLeftThenTurnLeft,.map-route-result ul li.TurnToStayLeft{background:transparent url(../../GLOBAL/images/icon/icon_route_left.png) 0 15px no-repeat}
.map-route-result ul li.BearLeft,.map-route-result ul li.KeepLeft{background:transparent url(../../GLOBAL/images/icon/icon_route_bearleft.png) 0 15px no-repeat}
.map-route-result ul li.KeepStraight,.map-route-result ul li.RoadNameChange{background:transparent url(../../GLOBAL/images/icon/icon_route_straight.png) 0 15px no-repeat}
.map-route-result ul li.UTurn{background:transparent url(../../GLOBAL/images/icon/icon_route_uturn.png) 0 15px no-repeat}
.map-route-result ul li.EnterThenExitRoundabout{background:transparent url(../../GLOBAL/images/icon/icon_route_roundabout.png) 0 15px no-repeat}
.map-route-result ul li.ArriveFinish{background:transparent url(../../GLOBAL/images/maps/controlgifs/bingmap_routeend.png) 0 10px no-repeat}
.poi_logo{background:transparent url(../../GLOBAL/images/maps/poi/poi_logo_reverse.png) no-repeat;clear:both;display:block;height:40px;width:280px}
.poi_logoContainer{overflow:hidden;padding:10px 20px;border-bottom:1px solid #ddd;background:#f4f4f4}
.poi-results{height:calc(100% - 44px)}
.poi-results.advertise_active{height:calc(100% - 218px)}
.poi-result-list{border-top:0;overflow-y:auto;padding:10px 0 10px 0;font-size:14px}
.poi-result{height:320px;overflow:auto;position:relative}
.poi-result-inner{position:absolute}
.poi-searchbox{height:100%;background-color:#fff}
.poi-selection{background-color:#fff;padding:20px;height:100%}
.poi-checkbox-list{border-bottom:1px solid #ddd;padding-bottom:10px;margin-bottom:10px}
.poi-checkbox-list .NavBar_checkControl{float:left;padding:5px 0 5px 0;margin-bottom:5px}
.poi-checkbox-list label{float:left;width:120px;text-align:center;cursor:pointer;color:#666}
.poi-checkbox-list label span{display:block;padding:5px 0 0 0}
.poi-checkbox-list input[type="checkbox"]{display:none !important}
.poi-checkbox-list input[type="checkbox"]:checked+label{color:#000 !important}
.poi-result-list .adviseTitle a{font-weight:bold;margin-bottom:4px;color:#000;text-decoration:none}
.poi-result-list .adviseDescription a{color:#000;text-decoration:none}
.poi-result-list .resultTitleBold{font-weight:bold}
.poi-result-list .resultEntryColored{background-color:#c0d3e5}
.poi-result-list .resultDistance{font-weight:normal;white-space:nowrap;color:#888}
.poi-result-list .resultBranche{color:#666}
.poi-result-list .poi-result-container{width:100%;display:inline-block;cursor:pointer;padding:10px 10px 10px 20px}
.poi-result-list .poi-result-container.active{background-color:#fff8dd !important}
.poi-result-list .poi-result-content{width:189px;display:inline-block;float:left;margin:0 0 0 10px;line-height:21px}
.poi-result-list .poi-result-content a{margin-top:5px}
#divPaging1 a,#divPaging2 a{border-right:1px solid #000;padding:0 6px 0 6px;text-decoration:none}
#divPaging1 a:last-child,#divPaging2 a:last-child{border-right:none}
#divPaging1 a.current,#divPaging2 a.current{font-weight:bold;text-decoration:underline}
#divPaging1 a:hover,#divPaging2 a:hover{background:#ccc;text-decoration:underline}
.poi-adverts{font-size:11px;border:1px solid #ccc;padding:10px 10px 0 10px;margin-bottom:40px;display:none;height:218px;overflow:auto}
.poi-adverts-header{color:#666;font-weight:bolder}
.poi-adverts a{text-decoration:none;margin-top:10px;display:block}
.mobile .expose .map_addons{width:90%;min-width:290px}
.mobile .expose .mapContainerOpen{-ms-transform:translateX(90%);-webkit-transform:translateX(90%);transform:translateX(90%);width:100%}
.mobile .poi-result-list .poi-result-container>div{width:40px}
.mobile .poi-result-list .poi-result-content{width:calc(100% - 50px) !important}
.mobile .hide_slide{-moz-transform:translate3d(-100%,0,0);-ms-transform:translate3d(-100%,0,0);-o-transform:translate3d(-100%,0,0);-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
.mobile .poi-checkbox-list .NavBar_checkControl{width:50%}
.mobile .poi-checkbox-list label{float:none;width:auto}
.immomakler_map .immomakler-image{height:120px}
@media(max-width:360px){.margin_none_s{margin:0 !important}
.poi_teaser li a img{display:none}
.poi_teaser li a{padding:10px}
.umkreis_btn span{display:none}
.NavBar_Container{top:40px !important}
}
@media screen and (min-width:471px){.large_screen{display:inline-block}
.small_screen{display:none}
.NavBar_Menu{padding:20px;top:99px;width:250px}
.ambit .NavBar_Menu{right:-1px}
.polygon .NavBar_Menu{right:148px}
.OverlaysTL{display:block}
}
@media screen and (max-width:535px){.maptools{bottom:42px;top:auto !important;right:47px}
.NavBar_Menu{top:auto;bottom:38px}
}
@media screen and (max-width:980px){.base .content_wrapper{min-width:280px}
.header.simple .iw_content{line-height:normal}
.header.simple .btn_01.icon-close{margin:7px 0 6px}
.header.simple .logo{left:inherit;margin-left:0}
.header.simple .content_wrapper{height:50px}
.mapContainer.content_wrapper{padding-top:50px}
.maptools{top:60px}
}
@media screen and (min-width:981px){.immoliste.header.simple{height:75px}
.header.simple .logo{margin:22px 0 0 0}
.NavBar_Menu{top:38px}
}
